<div class="jumbotron container">
	<h1 class="center header">You have applied for these Projects</h1><br>
	<% if logged_in? %>
			<table class="table table-bordered">
				<thead>
				<th>PROJECT DESCRIPTIONS</th>
				<th>SKILLS</th>
				</thead>
				<% @apply.each do |description,skill|%>
					<tbody>
					<tr>
						<td><%= skill %></td>
						<td><%= description %></td>
					</tr>
					</tbody>
				<% end %>
			</table>
	<% else %>
		<%= link_to "Goto_home_page", users_path, class: 'btn btn-primary' %>
	<% end %>
</div>
