<h1 style="text-align: center;">This is Your applied project.</h1>

<% if logged_in? %>
		<br/><h1 style="text-align: center;">Applied Projects</h1><br/>
		<table class="table table-striped">
			<thead>
			<th>PROJECT DESCRIPTIONS</th>
			<th>SKILLS</th>
			</thead>
			<% @apply.each do |description,skill|%>
				<tbody>
				<tr>
					<td><%= skill %></td>
					<td><%= description %></td>
				</tr>
				</tbody>
			<% end %>
		</table>
<% else %>
	<%= link_to "Goto_home_page", users_path, class: 'btn btn-primary' %>
<% end %>
