<div class="container jumbotron center indexjumbotron">
	<h1>Welcome to Freelancer</h1>
	 <% if !logged_in? %>
	  <%= link_to "SignUp Now", signup_path, class: "btn btn-success btn-lg" %>
	<% end %>
</div>