<div class="container">
	<h1 class="center header">Here is your project details</h1>

	<div class="jumbotron">
		<h3><b>Project Name :</b> <span><%= @project_detail.skill %></span></h3>
		<h3><b>Description :</b> <span><%= @project_detail.description %></span> </h3>
		<h3><b>Skill :</b> <span><%= @project_detail.skill %></span></h3>
	</div>
</div>
